@font-face {
  font-family: "Maldins";
  src: url("./fonts/Maldins/Maldins.eot");
  src: url("./fonts/Maldins/Maldins.eot?#iefix") format("embedded-opentype"), url("./fonts/Maldins/Maldins.woff2") format("woff2"),
    url("./fonts/Maldins/Maldins.woff") format("woff"), url("./fonts/Maldins/Maldins.ttf") format("truetype"),
    url("./fonts/Maldins/Maldins.svg#Maldins") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* body * {
  border: 1px solid;
} */
body {
  font-size: 24px;
  font-family: "Walter Turncoat", sans-serif;
  color: #333;
  font-weight: 300;
}

main {
  width: 95%;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  margin: 10px 15px;
}

em {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*_-_-_-_-_-_-_-_-_-_-_-_*/
/*_-_-_-_- Tabs _-_-_-_-_*/
/*_-_-_-_-_-_-_-_-_-_-_-_*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  font-size: 2.4em;
  font-family: "Maldins", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: lowercase;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 36%;
  width: 0;
  height: 25px;
  transition: all 0.4s ease-in-out;
  background: transparent;
  z-index: -1;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.tabset > input:nth-of-type(1):focus + label:nth-of-type(1)::after,
.tabset > input:nth-of-type(1):checked + label:nth-of-type(1)::after,
.tabset > label:nth-of-type(1):hover::after {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), rgba(58, 232, 255, 0.76) 85%, rgba(58, 232, 255, 0.25));
}
.tabset > input:nth-of-type(2):focus + label:nth-of-type(2)::after,
.tabset > input:nth-of-type(2):checked + label:nth-of-type(2)::after,
.tabset > label:nth-of-type(2):hover::after {
  background-image: linear-gradient(-100deg, rgb(255, 255, 255), rgba(255, 124, 211, 0.5) 85%, rgba(255, 124, 211, 0.25));
}
.tabset > input:nth-of-type(3):focus + label:nth-of-type(3)::after,
.tabset > input:nth-of-type(3):checked + label:nth-of-type(3)::after,
.tabset > label:nth-of-type(3):hover::after {
  background-image: linear-gradient(-100deg, rgb(255, 255, 255), rgba(252, 255, 63, 0.76) 85%, rgba(252, 255, 63, 0.25));
}
.tabset > input:nth-of-type(4):focus + label:nth-of-type(4)::after,
.tabset > input:nth-of-type(4):checked + label:nth-of-type(4)::after,
.tabset > label:nth-of-type(4):hover::after {
  background-image: linear-gradient(-100deg, rgb(255, 255, 255), rgba(181, 124, 255, 0.5) 85%, rgba(181, 124, 255, 0.25));
}
.tabset > input:nth-of-type(5):focus + label:nth-of-type(5)::after,
.tabset > input:nth-of-type(5):checked + label:nth-of-type(5)::after,
.tabset > label:nth-of-type(5):hover::after {
  background-image: linear-gradient(-100deg, rgb(255, 255, 255), rgba(124, 255, 179, 0.76) 85%, rgba(124, 255, 179, 0.25));
}
.tabset > input:checked + label {
  margin-bottom: -1px;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: flex;
}

/*_-_-_-_-_-_-_-_-_-_-_-_*/
/*_-_-_- Sections _-_-_-_*/
/*_-_-_-_-_-_-_-_-_-_-_-_*/
section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
  background-size: 1.4em 1.4em;
  background-image: radial-gradient(circle, rgba(36, 42, 66, 0.2) 1px, rgba(0, 0, 0, 0) 1.2px);
  background-position: 0.3em 0.62em;
}

.tab-panel article {
  width: 45%;
}
.tab-panel article:nth-child(even)::after {
  width: 100%;
  border-bottom: #333;
}
.tab-panel .notes {
  width: 48%;
  display: flex;
  justify-content: center;
}
.tab-panel ul input {
  display: block;
  padding-right: 0.8em;
  border: none;
  text-align: right;
  font-family: "Special Elite", cursive;
  font-size: 0.8em;
  background: transparent;
  outline: none;
}

.postit {
  position: relative;
  display: block;
  width: 45%;
  border: 1px solid #e8e8e8;
  border-bottom-right-radius: 60px 5px;
  background: #f7f7f7; /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #f7f7f7 81%, #f7f7f7 82%, #f7f7f7 82%, #ffffff 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.postit:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.22);
}
.postit:hover:after {
  box-shadow: 0px 19px 5px rgba(0, 0, 0, 0.4);
}
.postit:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
.postit span {
  position: absolute;
  display: block;
  height: 25px;
  margin: 8px;
  padding: 3px 4px;
  line-height: 0.5;
  font-size: 1.1em;
  z-index: 0;
}

.postit textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  text-transform: lowercase;
  padding: 40px 12px 12px 12px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Walter Turncoat", sans-serif;
  font-size: 0.9em;
}
ul.list span.key {
  width: 80%;
}
ul.list li input:first-of-type {
  text-align: left;
  font-family: "Walter Turncoat", sans-serif;
  text-transform: uppercase;
  width: 80%;
}
ul.list li input:last-of-type {
  text-align: right;
  width: 20%;
}
ul.list li {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 0.6em 0;
  width: 100%;
}
ul.list li::after {
  content: "€";
  position: absolute;
  font-family: "Walter Turncoat", sans-serif;
  font-size: 0.9em;
  top: 0.5em;
  right: -0.2em;
}
ul.list li span {
  width: 80%;
  font-style: italic;
}
ul.list button {
  margin-right: 10px;
  position: relative;
  border: none;
  background: transparent;
  font-size: 1em;
  font-family: "Walter Turncoat", sans-serif;
  transition: all 0.2s ease-in-out;
  z-index: -99;
  opacity: 0;
}
ul.list button.is-visible {
  opacity: 1;
  z-index: 1;
}
ul.list button:hover {
  cursor: pointer;
}
ul.list button:after {
  content: "|";
  position: absolute;
  top: -15px;
  transform: rotate(45deg);
}
ul.list button:before {
  content: "|";
  position: absolute;
  top: -15px;
  transform: rotate(-45deg);
}
div.info {
  margin: 15px;
  font-style: italic;
  font-size: 0.9em;
}
div.info em {
  margin-left: 20px;
  font-style: italic;
}
div.info input {
  background: transparent;
  padding-left: 20px;
  border: none;
  font-size: 0.8em;
  font-family: "Walter Turncoat", sans-serif;
  outline: none;
  font-style: italic;
  font-weight: bold;
}
